#app {
  margin-left: 0%;
}

#grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  align-content: space-around;
}

#flexbox {
  display: flex;
  margin-left: 7.5%;
}

#flexbox2 {
  display: flex;
}
@media only screen and (max-width: 1024px) {
  #flexbox2 {
    margin-left: 3%;
  }
}

#main-photo > div {
  left: 0;
  top: 0;
}

#main-photo {
  position: relative;
  width: 43.7em;
  grid-row: 1/2;
  grid-column: 1/2;
}

#sb {
  margin-left: 7.5%;
  padding-right: 7.5%;
}

#reviews {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  grid-row: 2/3;
  grid-column: 1/2;
  width: 43.75em;
}

#sln {
  position: relative;
}
@media only screen and (max-width: 768px) {
  #sln {
    margin-left: 5%;
  }
}