#grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  align-content: space-around;
}

#flexbox {
  display: flex;
  margin-left: 7.5%;
}

#main-photo > div {
  left: 0;
  top: 0;
}

#main-photo {
  position: relative;
  width: 43.75em;
  grid-row: 1/2;
  grid-column: 1/2;
}

#sb {
  margin-left: 7.5%;
}

#reviews {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  grid-row: 2/3;
  grid-column: 1/2;
  width: 36vw;
  min-width: 21.25em;
  max-width: 43.75em;
}

#sln {
  position: relative;
}